body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
  color: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6,
time {
  font-family: "Ruda", sans-serif;
}

#container {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#container > * {
  width: 700px;
  margin: 0 auto;
}

@media only screen and (max-width: 800px) {
  #container > * {
    width: auto;
    margin: 0 1.2em;
  }
}

#container header {
  margin-bottom: 1em;
}

#container header h1 {
  font-size: 2.4rem;
}

#container header h1 a {
  color: #000000;
}

#container header ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
}

#container header ul li {
  margin-left: 1em;
}

@media only screen and (max-width: 800px) {
  #container header ul {
    float: none;
  }
  #container header ul li {
    margin: 0 1em 0 0;
  }
}

#container nav {
  border-bottom: solid 3px #cecece;
  padding-bottom: 0.5em;
  font-family: "Ruda", sans-serif;
}

#container nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

#container nav ul li {
  margin-left: 1em;
}

#container nav ul li a.active {
  border-bottom: 0.5em solid #666666;
}

#container main {
  flex: 1 0 0;
  line-height: 1.5;
  font-size: 1.2rem;
}

#container main section#home ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#container main section#home ul li {
  margin: 0.5em 0;
  padding-bottom: 0.5em;
}

#container main section#home ul li h2 {
  margin: 0.2em 0;
}

#container main section#home span {
  color: #666666;
}

#container main section#list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#container main section#list ul li {
  padding: 0.5em 0;
  border-bottom: 1px solid #cecece;
}

#container main section#list ul li time, #container main section#list ul li span.count {
  float: right;
}

#container main section#list ul li:last-child {
  border-bottom: none;
}

#container main section.post-nav ul {
  margin: 0.5em 0;
  padding: 0.5em 0 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #f7f7f7;
  font-size: 0.9em;
}

#container main article pre {
  background-color: #ffffcc;
  overflow-x: auto;
  padding: 0.8em;
  font-size: 0.9em;
  box-shadow: 0 -1px 0 #bbbbbb inset;
}

#container main article pre code {
  font-size: 0.9em;
}

#container main article p code {
  padding: 0.2em;
  background-color: #ffcccc;
  font-size: 0.9em;
}

#container main article p kbd {
  display: inline-block;
  padding: 0.2em 0.3em;
  font-size: 0.8em;
  line-height: 1em;
  color: #555555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border-width: 1px;
  border-style: solid;
  border-color: #cccccc #cccccc #bbbbbb;
  border-image: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 #bbbbbb inset;
}

#container main h1 {
  margin-bottom: 1rem;
}

#container footer {
  border-top: solid 1px #cecece;
}

#container footer h6 {
  font-size: 0.8em;
}

.meta-aside, #container main section#home ul li aside, #container main article aside {
  margin: 0.5em 0;
  font-family: "Ruda", sans-serif;
  color: #909090;
  font-size: 0.8em;
}

.meta-aside ul, #container main section#home ul li aside ul, #container main article aside ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.meta-aside ul li, #container main section#home ul li aside ul li, #container main article aside ul li {
  margin: 0;
  padding: 0;
}

a {
  color: #666666;
  text-decoration: none;
}

.image, figure img, img {
  width: 100%;
  box-shadow: 0 3px 3px #bbbbbb;
}

.full-image, figure.full img {
  width: 100%;
  box-shadow: 0 3px 3px #bbbbbb;
}

@supports (width: 100vw) {
  .full-image, figure.full img {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
}

.mid-image, figure.mid img {
  width: 100%;
  box-shadow: 0 3px 3px #bbbbbb;
}

@supports (width: 100vw) {
  .mid-image, figure.mid img {
    width: 800px;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -400px;
    margin-right: -400px;
  }
  @media only screen and (max-width: 800px) {
    .mid-image, figure.mid img {
      width: 100%;
      left: 0;
      right: 0;
      margin: 0;
    }
  }
}

.float-image, figure.float img {
  width: 300px;
  float: left;
  margin: 0 1em 1em -3em;
  box-shadow: 0 3px 3px #bbbbbb;
}

@media only screen and (max-width: 800px) {
  .float-image, figure.float img {
    float: none;
    margin: 0;
    width: 100%;
  }
}

.float-image-right, figure.float-right img {
  width: 300px;
  float: right;
  margin: 0 -3em 1em 1em;
  box-shadow: 0 3px 3px #bbbbbb;
}

@media only screen and (max-width: 800px) {
  .float-image-right, figure.float-right img {
    float: none;
    margin: 0;
    width: 100%;
  }
}

figure {
  margin: 0;
}

figure figcaption p {
  margin-top: 0.3em;
  font-size: 0.8em;
  font-style: italic;
}

figure.full {
  margin: 0;
}

figure.mid {
  margin: 0;
}

figure.float {
  margin: 0;
  float: left;
}

figure.float-right {
  margin: 0;
  float: right;
}

figure.float-right figcaption {
  margin-left: 1em;
}

table {
  width: 100%;
  border-bottom: solid 1px #cecece;
}

table thead {
  background-color: #cecece;
}

blockquote {
  margin: 1em;
  border-left: solid 0.1em #cecece;
  padding: 0.5em 2em;
  position: relative;
  background-color: #efefef;
  box-shadow: 0 -1px 0 #bbbbbb inset;
}

blockquote::before {
  content: "\f10d";
  font-size: 3em;
  font-family: "FontAwesome";
  color: rgba(192, 192, 192, 0.3);
  position: absolute;
  left: 6px;
  top: 0;
}

@media only screen and (max-width: 800px) {
  blockquote {
    margin: 1em 0;
    padding: 0.5em;
  }
}

dl dd {
  font-style: italic;
}

ul.pagination {
  display: flex;
  justify-content: center;
  margin: 1em 0 0;
  padding: 0.5em 0;
  list-style: none;
}

ul.pagination li {
  padding: 0 1em;
}

/* color inverting */
#social-media li #invert-btn {
  box-shadow:none;
  filter:invert(66%);
  cursor:pointer;
  width:auto;
  margin-top:-2px; /* needs a small alignment to line up properly */
}

/* ----------- inverted */

body.inverted #social-media li #invert-btn {
  filter:invert(40%);
}

body.inverted {
  color:#FFF !important; /* white */
  background-color:#222 !important; /* very nearly black */
}

body.inverted a {
  color:#DDD !important; /* very light gray */
}

body.inverted h1,
body.inverted h1 a,
body.inverted h2, 
body.inverted h3, 
body.inverted h4, 
body.inverted h5,
body.inverted h6 {
  color:#d09242 !important; /* orange-ish */
}

body.inverted blockquote {
  background-color: #333; /* slightly brighter than background */
  border-color: #555; /* slightly brighter than bg color */
  box-shadow: 0 -1px 0 #555 inset;
}
body.inverted .download-epub-cover-selector-popup {
  background-color:#222 !important; /* very nearly black */
  color:#FFF;
}
body.inverted .download-epub-cover-selector-popup .download-progress-label {
  background-color:#222;
}

/* ----------- epub button */

/* epub download button */
.epub-btn {
  padding:4px 8px 4px 8px;
  border:1px #cecece solid;
  border-radius:4px;
  display:inline-block;
  cursor:pointer;
}

.epub-btn .epub-btn-text {
  vertical-align:middle;
}
.epub-btn .epub-btn-addon {
  vertical-align:middle;
  font-size:12px;
  line-height:1;
}

.epub-btn:hover {
  background-color:#ccc;
}

.download-epub-btn {
  float:right;
  margin-top:0px;
  margin-right:0px;
}
.download-epub-btn.add-margin {
  margin-top:24px;
  margin-right:24px;
}

/* epub download cover image popup */
.download-epub-cover-selector-popup {
  display:block;
  width:90%;
  max-width:600px;

  position:absolute;
  top:32px;
  left:50%;
  transform:translateX(-50%);
  background-color:white;
  box-shadow:0 3px 3px #bbbbbb;
  border:1px solid #cecece;
}

/* image */
.download-epub-cover-selector-popup img,
.download-epub-cover-selector-popup canvas {
  max-width:40%;
  max-height:200px;
  vertical-align:middle;
  border:3px solid #888;
  border-radius:16px;
  box-shadow:none;
  cursor:pointer;
  width:auto;
  height:auto;
}

.download-epub-cover-selector-popup img.wider,
.download-epub-cover-selector-popup canvas.wider {
  max-width:50%;
  max-height:325px;
}
.download-epub-cover-selector-popup img.widest,
.download-epub-cover-selector-popup canvas.widest {
  max-width:65%;
  max-height:380px;
}

.download-epub-cover-selector-popup img:hover {
  border-color:#4bb138;
}

.download-epub-cover-selector-popup *.hidden,
.download-epub-cover-selector-popup.hidden {
  display:none;
}

/* progress status */
.download-epub-cover-selector-popup .download-progress {
  position:absolute;
  text-align:center;
  width:100%;
  height:100%;
  z-index:100;
}

.download-epub-cover-selector-popup .download-other {
  padding:32px;
}

.download-epub-cover-selector-popup .download-other.blur {
  filter:blur(5px);
}

.download-epub-cover-selector-popup .vertical-align {
  height:100%;
  vertical-align:middle;
  display:inline-block;
}
.download-epub-cover-selector-popup .download-progress-label {
  box-shadow:0px 0px 100px 150px rgba(0,0,0,0.2);
  vertical-align:middle;
  font-weight:bold;
  background-color:white;
  border:1px solid #cecece;
  padding:8px;
  z-index:200;
}

/* cover image options */
.download-epub-cover-selector-popup .size-info {
  display:inline-box;
  padding:8px;
  border:1px solid #cecece;
  font-size:12px;
  line-height:1;
  margin-top:8px;
  margin-bottom:4px;
}
.download-epub-cover-selector-popup .add-titles {
  display:inline-box;
  padding:8px;
  border:1px solid #cecece;
  font-size:12px;
  line-height:1;
  margin-top:8px;
  margin-bottom:4px;
}
.download-epub-cover-selector-popup .size-info label,
.download-epub-cover-selector-popup .add-titles label {
  font-size:18px;
  line-height:1.2;
}
